.laptops {
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  align-items: center;
  justify-content: center;
  border: 1px solid yellowgreen;
  border-radius: 10px;
  padding: 15px;
  /* width: 600px; */
}

.price {
  color: red;
}
