.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: start;
  padding: 30px;
  border: 1px solid red;
  border-radius: 15px;
  width: 800px;
}
.titles {
  padding: 10px;
}

.images {
  width: 200px;
  height: 200px;
}
.forimg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 15px;
  border: 1px solid transparent;
  cursor: pointer;
}
